#body-content h3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.25rem !important;
}

#body-content p,
#body-content li {
  text-align: justify;
}

#body-content {
  outline: 4px solid red !important;
}