.article h3 {
  margin-top: 0.6rem !important;
  margin-bottom: 0.35rem !important;
}

.article {
  max-width: 900px;
  margin: 0 auto;
}

.article :is(p, li) {
  text-align: justify !important;
  hyphens: auto;
}